<h1 class="text-center">Editando noticia</h1>

<%= render "form", publication: @publication %>

<br>

<div class="row d-flex justify-content-center">
  <div class="col-8 text-end">
    <%= link_to "Ver entrada", @publication, class:"btn mybtn mb-4" %> <br>
    <%= link_to "Volver", publications_path, class:"btn mybtn" %>
  </div>
</div>
