<h1>Publications</h1>

<div id="publications">
  <% @publications.each do |publication| %>
    <div class="border my-5 px-5 py-4">
      <%= render publication %>
      <p class="mb-0">
        <%= link_to "Ver publicación", publication %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New publication", new_publication_path %>
