<h1 class="text-center">Redactar noticia</h1>

<%= render "form", publication: @publication %>

<div class="row d-flex justify-content-center mt-4 text-end">
  <div class="col-8"><%= link_to "Volver", publications_path, class:"btn mybtn" %></div>
</div>
