body{
    font-family: 'Karla', sans-serif;
}

.myalerts{
    position: absolute;
    bottom: 0;
}

.mylogo{
    width: 20%;
}
.mynav{
    background-color: black;
}

/*************************/

.mylinks:hover{
    background-color: rgb(228, 30, 96) !important;
}